body{
    margin:50px;
    background-color: #EFFFFD;
}

#logo{
    position:fixed;
    right:2%;
    bottom:2%;
    height:5%;
    width:5%;
}

.nav
{
    border-radius: 30px;
   background-color:#B8FFF9;
}

td{
    padding: 5px;
}

thead{
    border:solid black;
    
}

div{
    display:inline-block;
    margin:10px;
}

.img1{
    display:inline-block;
    border-radius:50%;
    width:100px;
    height:100px;
    float:left;
    margin-right:10px;
}

.login-section-right{
    float:right;
}

.hover-dark:hover{
background-color: #EFEAD8;
}

.right-align{
    float:right;
}

.inline
{
    display:inline;
}

.register{
    position:relative;
    bottom:150px;
}

