body{
    margin:50px;
    background-color: #EFFFFD;
}

.table1{
    border:black solid 2px;
    border-radius:10%;
    background-color: #B8FFF9;
    border-radius: 10px;
}

td{
    padding: 5px;
}

thead{
    border:solid black;
    
}

div{
    display:inline-block;
    margin:10px;
}

.img1{
    display:inline-block;
    border-radius:50%;
    width:100px;
    height:100px;
    float:left;
    margin-right:10px;
}

.login-section-right{
    float:right;
}

.hover-dark:hover{
background-color: #EFEAD8;
}

.right-align{
    float:right;
}

.inline
{
    display:inline;
}

.register{
    position:relative;
    bottom:150px;
}