body{
    margin:50px;
    background-color: #EFFFFD;
}

#logo{
    position:fixed;
    right:2%;
    bottom:2%;
    height:%;
    width:5%;
}

.nav1
{
    border-radius: 10px;
    height: fit-content;
   background-color:#B8FFF9;
}

 td{
    padding: 5px;
    height:fit-content;
}


thead{
    border:solid black;
    
}

div{
    display:inline-block;
    margin:10px;
}

.img1{
    display:inline-block;
    border-radius:50%;
    width:100px;
    height:100px;
    float:left;
    margin-right:10px;
}

.login-section-right{
    text-align: right;
}

.hover-dark:hover{
background-color: #EFEAD8;
}

.right-align{
    position: absolute;

}

.dropdown{
    background-color: #B8FFF9;
    border:0;
}